.plan {
  padding: 30px 0;

  &__title {
    margin-bottom: 33px;
  }

  &__dawn,
  &__spiral,
  &__spiral2,
  &__spiral3,
  &__spiral4,
  &__spiral5,
  &__star {
    position: absolute;
    user-select: none;
    pointer-events: none;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__star {
    width: 108px;
    height: 108px;
    top: 0;
    left: 0;
    transform: translate(-40%, -40%);
  }

  &__spiral5 {
    z-index: 2;
    width: 65px;
    height: 80px;
    bottom: 0;
    right: 0;
    transform: translate(60%, 45%);
  }

  &__dawn {
    width: 328px;
    height: 328px;
    left: 0px;
    bottom: 0px;
    transform: translateX(-80%);
  }

  &__spiral {
    width: 65px;
    height: 80px;
    left: 0;
    bottom: 0;
    transform: translateX(-55%);
  }

  &__spiral2 {
    width: 356px;
    height: 356px;
    top: 0;
    right: 0;
    transform: translate(40%, -10%);
  }

  &__spiral3 {
    width: 218px;
    height: 271px;
    top: 325px;
    left: -207px;
  }

  &__spiral4 {
    width: 336px;
    height: 356px;
    bottom: 0;
    right: 0;
    transform: translate(45%, 30%);
  }

  &__row {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    font-size: 20px;
    padding: 20px 32px;

    @media (max-width: 950px) {
      font-size: 16px;
      padding: 12px 16px;
    }

    &.active {
      background-color: #ff5c00;
      color: #fff;
    }
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__right {
    gap: 12px;

    @media (max-width: 950px) {
      display: none;
    }
  }

  &__disc {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    border-radius: 30px;
    padding: 8px 16px;
    background: #89a280;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &__content {
    position: relative;
    padding-top: 42px;
    z-index: 2;
    display: none;
    overflow: visible;

    @include small-tablet {
      overflow: hidden;
    }

    .swiper-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;

      @include small-tablet {
        display: flex;
        gap: 0;
      }
    }

    &.active {
      display: block;
    }
  }

  &__block {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }


  &__pagination {
    margin-top: 21px;
    display: flex;
    justify-content: center;

    .swiper-pagination-bullet {
      background-color: #FF5C00;
    }
  }
}


.plan-item {
  position: relative;
  padding: 35px 28px;
  padding-top: 63px;

  border-radius: 30px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 550px;

  @media (max-width: 950px) {
    padding: 28px 14px 32px;
    min-height: 478px;
  }

  @include small-tablet {
    width: 270px;
  }

  &__back {
    position: absolute;
    z-index: -1;
    border-radius: 30px;
    left: 10px;
    bottom: 18px;
    width: 100%;
    height: 100%;
    background: #cfd9a7;
    transform: rotate(2deg);
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: inherit;
    border: 1px solid #ff5c00;
  }

  &__header {
    position: relative;
    z-index: 2;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 35px;
  }

  &__title {
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    color: #43513f;
    text-transform: uppercase;

    @media (max-width: 950px) {
      font-size: 28px;
    }
  }


  &__old {
    margin: 0;
    margin-bottom: 12px;
    font-weight: 300;
    font-size: 20px;
    text-decoration: line-through;
    text-align: center;
    color: rgba(67, 81, 63, 0.6);

    @media (max-width: 950px) {
      font-size: 18px;
      margin-bottom: 8px;
    }
  }

  &__price {
    margin: 0;
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 48px;
    color: #43513f;

    @media (max-width: 950px) {
      font-size: 40px;
    }
  }

  &__for {
    font-weight: 500;
    font-size: 24px;
    color: #43513f;

    @media (max-width: 950px) {
      font-size: 20px;
    }
  }

  &__bottom {
    position: relative;
    z-index: 2;
  }

  &__btn {
    width: 100%;
    font-size: 16px;

    @media (max-width: 950px) {
      padding: 12px;
    }
  }

  &__cost {
    position: relative;
  }

  &__list {
    max-width: 240px;
    margin-bottom: 35px;

    li {
      position: relative;
      padding-left: 33px;
      font-weight: 400;
      font-size: 16px;
      color: rgba(67, 81, 63, 0.7);

      @media (max-width: 950px) {
        padding-left: 29px;
      }

      &:not(:last-child) {
        margin-bottom: 8px;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 21px;
        height: 21px;

        background-image: url('./../img/plan/star.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  &__discount {
    position: absolute;
    top: -20px;
    right: -20px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #ff5c00;
    border: 2px solid #ff5c00;
    border-radius: 50px;
    padding: 15px 17px;
    transform: rotate(14deg);

    @media (max-width: 950px) {
      padding: 10px 6px;
      right: 0;
    }
  }
}