<section class="benefits">
  <div class="container">
    <h2 class="title2 benefits__title">Как делаем мы</h2>

    <div class="benefits__items">
      <div class="benefits__row">
        <div class="benefits__item">
          <div class="b-item__img">
            <img src="./img/benefits/girl.webp" alt="" />
          </div>
        </div>
        <div class="benefits__item b-item">
          <div class="b-item__header">
            <div class="b-item__icon">
              <img src="./img/messages.svg" alt="" />
            </div>
            <div class="b-item__title">
              Длительность занятий варьируется от 45 до 60 минут
            </div>
          </div>

          <div class="b-item__desc">
            <p>
              На основе 10 000 часов проведенных уроков в нашей школе, это
              минимальное время, необходимое для систематического объяснения
              одной темы или ее части ученикам
            </p>
          </div>
        </div>
      </div>

      <div class="benefits__row benefits__row--uniq">
        <div class="benefits__item b-item">
          <p class="b-item__title">
            Методисты разрабатывают и предоставляют преподавателям программы,
            адаптированные для узких возрастных групп: 4-5, 6-8, 9-10, 11-13 и
            14-15 лет
          </p>
        </div>
        <div class="benefits__item">
          <div class="b-item__img">
            <img src="./img/benefits/children.webp" alt="" />
          </div>
        </div>
      </div>

      <div class="benefits__row benefits__row--long">
        <div class="benefits__item b-item">
          <div class="b-item__header">
            <div class="b-item__icon">
              <img src="./img/messages.svg" alt="" />
            </div>
            <div class="b-item__title">Персональный менеджер</div>
          </div>

          <div class="b-item__desc">
            <p>
              Каждому ученику назначается персональный менеджер, который
              принимает обратную связь по урокам, помогает с подключением через
              Zoom или Skype, а также решает вопросы, связанные с оплатой и
              сменой преподавателя. Прямое общение с учеником и его родителями
              доступно с 8:00 до 22:00, без выходных и отпусков.
            </p>
          </div>
        </div>
      </div>

      <div class="benefits__row benefits__row--triple">
        <div class="benefits__item">
          <div class="b-item__img">
            <img src="./img/benefits/boy.webp" alt="" />
          </div>
        </div>
        <div class="benefits__item b-item">
          <p class="b-item__title">
            Каждые 30 дней выборочно собираем обратную связь от учеников и их
            родителей по нашей программе
          </p>
        </div>
        <div class="benefits__item b-item">
          <p class="b-item__title">
            Преподаватели адаптируют программы в соответствии с уровнем
            английского языка каждого ученика
          </p>
        </div>
      </div>

      <div class="benefits__row benefits__row--double">
        <div class="benefits__item b-item">
          <div class="b-item__header">
            <p class="b-item__title">
              Выстраиваем программу обучения вместе с учениками и родителями
            </p>
            <div class="b-item__icon">
              <img src="./img/book.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="benefits__item b-item">
          <p class="b-item__title">
            Методисты обновляют, дорабатывают программу обучения на основе
            отзывов и предложений
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
