<section class="every">
  <div class="container">
    <h2 class="title2 every__title">
      <span>Для каждой возрастной группы</span> разработан индивидуальный подход
      к обучению
    </h2>
    <div class="every__wrapper">
      <div class="every__tabs">
        <button class="btn-reset every__tab active">4-6 лет</button>
        <button class="btn-reset every__tab">6-8 лет</button>
        <button class="btn-reset every__tab">Старше 8 лет</button>
      </div>

      <div class="every__content ec-item">
        <div class="ec-item__header">
          <div class="ec-item__themes">
            <h4 class="ec-item__title">
              Темы, которые будут пройдены на занятиях:
            </h4>

            <ul class="list-reset ec-item__items">
              <li class="ec-item__item">Numbers (числа)</li>
              <li class="ec-item__item">Colors (цвета)</li>
              <li class="ec-item__item">Animals (животные)</li>
              <li class="ec-item__item">Toys (игрушки)</li>
              <li class="ec-item__item">Food (еда)</li>
              <li class="ec-item__item">Family (семья)</li>
              <li class="ec-item__item">Clothes (одежда)</li>
              <li class="ec-item__item">Body parts (части тела)</li>
              <li class="ec-item__item">Weather (погода)</li>
              <li class="ec-item__item">City (город)</li>
              <li class="ec-item__item">Months and days (месяцы и дни)</li>
              <li class="ec-item__item">House (дом)</li>
              <li class="ec-item__item">Sport (спорт)</li>
              <li class="ec-item__item">Hobbies (хобби/увлечения)</li>
              <li class="ec-item__item">School (школа)</li>
              <li class="ec-item__item">Time (время)</li>
              <li class="ec-item__item">
                Health problems (проблемы со здоровьем)
              </li>
            </ul>
          </div>
          <div class="ec-item__images">
            <div class="ec-item__img">
              <img src="./img/every/01.webp" alt="" />
            </div>
            <div class="ec-item__img">
              <img src="./img/every/02.webp" alt="" />
            </div>
          </div>
        </div>
        <div class="ec-item__content">
          <div class="ec-item__capture">Ученики научатся:</div>
          <ul class="ec-item__list">
            <li>отвечать на вопросы и задавать их;</li>
            <li>представлять себя;</li>
            <li>считать до 20;</li>
            <li>называть цвета различных предметов и описывать предметы;</li>
            <li>
              называть животных и рассказывать какие животные нравятся (фраза “I
              like a/an…”) также описывать их;
            </li>
            <li>
              называть фрукты и овощи и рассказывать какие фрукты и овощи
              нравятся, а какие нет;
            </li>
            <li>
              называть какие у них есть игрушки и рассказывать какого цвета эти
              игрушки;
            </li>
            <li>
              рассказывать о своей семье и сколько в ней членов, описывать
              каждого члена семьи;
            </li>
            <li>называть и показывать различные части тела;</li>
            <li>описывать одежду, в которую одеты люди;</li>
            <li>
              описывать погоду (каждый день занятие начинается именно с этого);
            </li>
            <li>называть месяцы и дни недели;</li>
            <li>
              описывать город по картинке, объяснять как добраться до какой-то
              точки и спрашивать как дойти до чего-то;
            </li>
            <li>называть различные виды спорта;</li>
            <li>описывать свои хобби, хобби друзей и членов семьи;</li>
            <li>называть школьные принадлежности;</li>
            <li>называть и спрашивать время на английском;</li>
            <li>объяснять какая у них проблема со здоровьем.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
