<section class="first-lesson">
  <div class="container">
    <div class="first-lesson__header">
      <div class="first-lesson__left">
        <h2 class="title2 first-lesson__title">
          Первое занятие <span>бесплатно</span> в удобное время и день!
        </h2>

        <ul class="list-reset first-lesson__list">
          <li><span>Длительность:</span> 45 минут</li>
          <li>
            <span>Полноценный урок:</span> Ваш ребенок получает настоящий урок,
            без навязчивых продаж
          </li>
          <li>
            <span>Ваш выбор:</span> Вы сами назначаете дату и время занятия
          </li>
        </ul>
      </div>

      <div class="first-lesson__right">
        <img src="./img/first-lesson.webp" alt="" />
      </div>
    </div>

    <div class="first-lesson__bens fl-bens">
      <div class="fl-bens__left">
        <p class="fl-bens__title">
          Что получит <span>Ваш ребенок</span> на первом бесплатном занятии:
        </p>
        <ul class="list-reset fl-bens__list">
          <li>
            Интерактивное и увлекательное занятие, которое разбудит интерес к
            английскому
          </li>
          <li>Первое знакомство с преподавателем</li>
          <li>Оценку уровня знаний и рекомендации</li>
        </ul>
      </div>
      <div class="fl-bens__right">
        <p class="fl-bens__title">
          Что <span>получите Вы</span> после занятия:
        </p>
        <ul class="list-reset fl-bens__list">
          <li>
            Рекомендации по дальнейшему обучению и развитию навыков вашего
            ребенка
          </li>
          <li>
            Личное знакомство с преподавателем и понимание методики обучения
          </li>
          <li>
            Убедитесь, что ваш ребенок занимается в комфортной и поддерживающей
            атмосфере
          </li>
        </ul>
      </div>
    </div>

    <div class="first-lesson__bottom">
      <button class="btn-reset btn btn--orange first-lesson__btn modal-btn">
        Записаться на бесплатное занятие
      </button>
    </div>
  </div>
</section>
