<section class="garant">
  <div class="container">
    <h2 class="title2 garant__title"><span>Гарантия</span> результата</h2>

    <div class="garant__items">
      <div class="garant__item">
        <div class="garant__row">
          <svg
            width="70"
            height="71"
            viewBox="0 0 70 71"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M35 35.0742C35 15.7443 19.33 0.0742188 0 0.0742188V35.0742C0 54.4042 15.67 70.0742 35 70.0742C54.33 70.0742 70 54.4042 70 35.0742V0.0742188C50.67 0.0742188 35 15.7443 35 35.0742Z"
              fill="#89A280"
            />
          </svg>
        </div>
        Гарантируем возврат средств в течение 14 дней с начала обучения
      </div>
      <div class="garant__item">
        Если не понравился преподаватель или способ проведения уроков - вернем
        всю сумму за уроки в течение 2 рабочих дней
      </div>
    </div>
  </div>
</section>
