<header class="header">
  <div class="header__container">
    <div class="header__left">
      <a href="./" class="header__logo">
        <img src="./img/logo.webp" alt="" />
      </a>
      <div class="header__contacts">
        <span>Пн-Вс: с 9 до 21</span>
        <a href="tel:+79955055385" class="header__tel">+7 (995) 505-53-85</a>
        <a href="tel:+79851155385" class="header__tel">+7 (985) 115-53-85</a>
      </div>
    </div>
    <div class="header__right">
      <nav class="header__nav nav">
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a href="#" class="btn nav__link">Программа</a>
          </li>
          <li class="nav__item">
            <a href="#" class="btn nav__link">Тарифы</a>
          </li>
          <li class="nav__item">
            <a href="#" class="btn nav__link">Отзывы</a>
          </li>
        </ul>
      </nav>

      <a href="#" class="btn-reset btn btn--orange modal-btn">Записаться</a>
    </div>
  </div>
</header>
