<section class="hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero__title">
        Ваш ребенок за 24 урока научится
        <span>читать, писать и говорить на английском языке!</span>
      </h1>
      <p class="hero__desc">
        Онлайн-занятия для детей от 4 до 15 лет по авторской программе,
        подстроенной под ваши цели!
      </p>
      <button class="btn-reset btn btn--orange hero__btn modal-btn">
        Записаться на бесплатное занятие
      </button>
      <p class="hero__extra">Первый урок бесплатно в удобный день и время</p>
    </div>
  </div>
</section>
