<div class="menu">
  <div class="menu__body">
    <nav class="menu-nav menu__nav">
      <ul class="list-reset menu-nav__list">
        <li class="menu-nav__item">
          <a href="#about" class="menu-nav__link">О нас</a>
        </li>
        <li class="menu-nav__item">
          <a href="#program" class="menu-nav__link">Программа</a>
        </li>
        <li class="menu-nav__item">
          <a href="#teachers" class="menu-nav__link">Преподаватели</a>
        </li>
        <li class="menu-nav__item">
          <a href="#testi" class="menu-nav__link">Отзывы</a>
        </li>
        <li class="menu-nav__item">
          <a href="#plans" class="menu-nav__link">Тарифы</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
