<section class="others">
  <div class="container">
    <h2 class="title2 others__title">Как делают другие</h2>

    <div class="others__items">
      <div class="others__item o-item">
        <div class="o-item__content">
          <div class="o-item__title">
            Общая программа для большой возрастной группы, без системы
          </div>
          <p class="o-item__desc">
            Крупные онлайн-школы используют стандартные программы для детей в
            возрасте 4-10 лет и 11-15 лет. В результате младшие дети не успевают
            усвоить весь материал, а у старших снижается мотивация посещать
            занятия
          </p>
        </div>
        <div class="o-item__review">
          <div class="o-item__header">
            <div class="o-item__author">
              <img src="./img/others/01.webp" alt="" />
            </div>
            <div class="o-item__about">
              <span>Ирина</span>
              сын Артур, 9 лет
            </div>
          </div>
          <div class="o-item__testi">
            “За 1 урок прыгаем с одной темы на другую: множественное число,
            краткие ответы на вопросы, чтение букв алфавита, времена года. Чтобы
            такой объем информации отложился в голове у ребенка, нужно три
            месяца системных занятий. И самое печальное, что со стороны вроде
            все круто: частая смена активностей, веселые задания, вовлеченность.
            Но в голове ничего не осталось.”
          </div>
        </div>
      </div>

      <div class="others__item o-item">
        <div class="o-item__content">
          <div class="o-item__title">Отсутствие обратной связи</div>
          <p class="o-item__desc">
            Взаимодействие с преподавателями и отмена уроков осуществляется
            через чат поддержки на платформе или сайте, куда поступает до 15
            запросов в минуту. В результате: отсутствие оперативной помощи при
            технических проблемах и обратная связь по смене преподавателей и
            отмене уроков занимает до 2 часов
          </p>
        </div>
        <div class="o-item__review">
          <div class="o-item__header">
            <div class="o-item__author">
              <img src="./img/others/02.webp" alt="" />
            </div>
            <div class="o-item__about">
              <span>Наталья</span>
              сын Вадим, 14 лет
            </div>
          </div>
          <div class="o-item__testi">
            “Опоздание преподавателей никак не пресекается. Сколько не писала в
            чат поддержки - 0 реакции. То же самое и по обратной связи по урокам
            и материалам - никому не нужна. Общаешься в чате сам с собой. Мне в
            Сбербанке быстрее отвечают!”
          </div>
        </div>
      </div>

      <div class="others__item o-item">
        <div class="o-item__content">
          <div class="o-item__title">Короткие занятия по 25 минут</div>
          <p class="o-item__desc">
            Короткие занятия для Вас = бесплатные для онлайн-школы
          </p>
        </div>
        <div class="o-item__review">
          <div class="o-item__header">
            <div class="o-item__author">
              <img src="./img/others/03.webp" alt="" />
            </div>
            <div class="o-item__about">
              <span>Ангелина</span>
              дочка Алла, 7 лет
            </div>
          </div>
          <div class="o-item__testi">
            Договорились о занятиях, в итоге каждый урок у ребенка новый
            учитель. Решили отменить, потому что это полный бред заниматься
            каждый раз с новым учителем. Потом недавно узнала от знакомой,
            которая там работает, что они учителей не нанимают, а просто
            приглашают кандидатов провести "пробный урок" бесплатно. Так и
            работают.”
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
