<div class="swiper-slide quiz__slide">
  <span class="quiz__counter">3/5</span>
  <div class="quiz__content">
    <div class="quiz__capture">
      Чем ему больше всего<br />нравится заниматься?
    </div>
    <div class="quiz__text">Выберите один вариант ответа</div>
    <div class="quiz__hobbie">
      <label class="quiz__inp">
        <input
          type="radio"
          name="Любимое занятие"
          value="Играть в видеоигры"
          class="visually-hidden"
        />
        <div></div>
        Играть в видеоигры
        <span class="quiz__icon">
          <img src="./img/hobbie/play.png" alt="" />
        </span>
      </label>
      <label class="quiz__inp">
        <input
          type="radio"
          name="Любимое занятие"
          value="Смотреть фильмы"
          class="visually-hidden"
        />
        <div></div>
        Смотреть фильмы
        <span class="quiz__icon">
          <img src="./img/hobbie/movie.png" alt="" />
        </span>
      </label>
      <label class="quiz__inp">
        <input
          type="radio"
          name="Любимое занятие"
          value="Командные виды спорта"
          class="visually-hidden"
        />
        <div></div>
        Командные виды спорта
        <span class="quiz__icon">
          <img src="./img/hobbie/team.png" alt="" />
        </span>
      </label>
      <label class="quiz__inp">
        <input
          type="radio"
          name="Любимое занятие"
          value="Творчество"
          class="visually-hidden"
        />
        <div></div>
        Творчество
        <span class="quiz__icon">
          <img src="./img/hobbie/paint.png" alt="" />
        </span>
      </label>
      <label class="quiz__inp">
        <input
          type="radio"
          name="Любимое занятие"
          value="Игры на свежем воздухе"
          class="visually-hidden"
        />
        <div></div>
        Игры на свежем воздухе
        <span class="quiz__icon">
          <img src="./img/hobbie/walk.png" alt="" />
        </span>
      </label>
      <label class="quiz__inp">
        <input
          type="radio"
          name="Любимое занятие"
          value="Читать книги"
          class="visually-hidden"
        />
        <div></div>
        Читать книги
        <span class="quiz__icon">
          <img src="./img/hobbie/reading.png" alt="" />
        </span>
      </label>
    </div>
  </div>
</div>
