<div class="swiper-slide quiz__slide">
  <span class="quiz__counter">4/5</span>
  <div class="quiz__content">
    <div class="quiz__capture">Какая цель изучения английского?</div>
    <div class="quiz__text">Выберите один вариант ответа</div>
    <div class="quiz__input-group">
      <label class="quiz__inp">
        <input
          type="radio"
          name="Цель"
          value="Повысить оценки в школе"
          class="visually-hidden"
        />
        <div></div>
        Повысить оценки в школе
      </label>
      <label class="quiz__inp">
        <input
          type="radio"
          name="Цель"
          value="Адаптация к жизни за границей"
          class="visually-hidden"
        />
        <div></div>
        Адаптация к жизни за границей
      </label>
      <label class="quiz__inp">
        <input
          type="radio"
          name="Цель"
          value="Для общего развития"
          class="visually-hidden"
        />
        <div></div>
        Для общего развития
      </label>
      <label class="quiz__inp">
        <input
          type="radio"
          name="Цель"
          value="Подготовка к переезду"
          class="visually-hidden"
        />
        <div></div>
        Подготовка к переезду
      </label>
      <label class="quiz__inp">
        <input
          type="radio"
          name="Цель"
          value="Путешествия"
          class="visually-hidden"
        />
        <div></div>
        Путешествия
      </label>
    </div>
  </div>
</div>
