<div class="swiper-slide quiz__slide">
  <span class="quiz__counter">2/5</span>
  <div class="quiz__content">
    <div class="quiz__capture">Какими чертами обладает ребенок?</div>
    <div class="quiz__text">Выберите один вариант ответа</div>
    <div class="quiz__emotions">
      <label class="quiz__emog emog">
        <input
          type="radio"
          name="emog"
          value="Застенчивость"
          class="visually-hidden"
        />
        <div class="emog__img">
          <img src="./img/emog/01.svg" alt="" />
        </div>
        <div class="emog__status">Застенчивость</div>
      </label>
      <label class="quiz__emog emog">
        <input
          type="radio"
          name="emog"
          value="Уверенность"
          class="visually-hidden"
        />
        <div class="emog__img">
          <img src="./img/emog/02.svg" alt="" />
        </div>
        <div class="emog__status">Уверенность</div>
      </label>
      <label class="quiz__emog emog">
        <input
          type="radio"
          name="emog"
          value="Спокойствие"
          class="visually-hidden"
        />
        <div class="emog__img">
          <img src="./img/emog/03.svg" alt="" />
        </div>
        <div class="emog__status">Спокойствие</div>
      </label>
      <label class="quiz__emog emog">
        <input
          type="radio"
          name="emog"
          value="Энергичность"
          class="visually-hidden"
        />
        <div class="emog__img">
          <img src="./img/emog/04.svg" alt="" />
        </div>
        <div class="emog__status">Энергичность</div>
      </label>
    </div>
  </div>
</div>
