<section class="teachers">
  <div class="container">
    <h2 class="title2 teachers__title">Наши преподаватели</h2>

    <div class="teachers__header">
      <div class="teachers__icons">
        <div class="teachers__icon">
          <img src="./img/teachers/01.webp" alt="" />
        </div>
        <div class="teachers__icon">
          <img src="./img/teachers/02.webp" alt="" />
        </div>
        <div class="teachers__icon"></div>
      </div>

      <p class="teachers__best">
        Лучшие <span>дипломированные педагоги</span> с большим опыт преподавания
      </p>
    </div>

    <div class="teachers__items">
      <article class="teachers__item t-item">
        <div class="t-item__img">
          <img src="./img/teachers/anait.webp" alt="" />
        </div>
        <div class="t-item__content">
          <h5 class="t-item__name">Анаит Мартиросян Андраникова</h5>
          <p class="t-item__text">
            Всем здравствуйте!<br />
            Меня зовут Анаит Мартиросян Андраникова.<br />
            Я — преподаватель английского языка<br />
            Образование: Высшее лингвистическое (РУДН «Бакалавриат»)<br />
            Стаж — 3 года<br />
            Я докажу, что английский может стать частью вашего сознания, а не
            просто учебный предмет в школе или Вузе.
          </p>
        </div>
      </article>

      <article class="teachers__item t-item">
        <div class="t-item__img">
          <img src="./img/teachers/kirill.webp" alt="" />
        </div>
        <div class="t-item__content">
          <h5 class="t-item__name">Попов Кирилл Ильич</h5>
          <p class="t-item__text">
            Приветствую всех! Меня зовут Кирилл Ильич Попов. Я — преподаватель
            английского языка.Дипломированный Магистр лингвистики СурГУ
            Бакалавриат 2010-2015гг<br />
            Магистратура Ф 2015-2017гг<br />
            Стаж: более 10 лет<br />
            Проходил стажировку в США<br />
            Имею опыт преподавания иностранного языка в странах Азии
          </p>
        </div>
      </article>
    </div>
  </div>
</section>
