<section class="testi">
  <div class="container">
    <h2 class="testi__title title2">Отзывы</h2>
    <p class="testi__desc">
      Что говорят родители и дети о достигнутых результатах в squenglish
    </p>

    <div class="testi__items">
      <div class="testi__item testi__item--greed testi-item">
        <div class="testi-item__header">
          <span>2500+</span>
          Детей прошли обучение у нас

          <div class="testi-item__img">
            <img src="./img/testi/01.webp" alt="" />
          </div>
          <div class="testi-item__img">
            <img src="./img/testi/02.webp" alt="" />
          </div>
          <div class="testi-item__img">
            <img src="./img/testi/03.webp" alt="" />
          </div>
          <div class="testi-item__img">
            <img src="./img/testi/04.webp" alt="" />
          </div>
          <div class="testi-item__img">
            <img src="./img/testi/05.webp" alt="" />
          </div>
        </div>

        <div class="testi-item__prepare">
          <p>Подготовили дочь к школе качественно и быстро</p>
        </div>
      </div>

      <div class="testi__item testi-item">
        <div class="testi-item__preview">
          <img src="./img/students/01.webp" alt="" />

          <div class="testi-item__play" data-video-src=""></div>
        </div>

        <div class="testi-item__plug">
          <span>Никита</span>
          12 лет
        </div>
      </div>

      <div class="testi__item testi-item">
        <div class="testi-item__preview">
          <img src="./img/students/02.webp" alt="" />

          <div class="testi-item__play" data-video-src=""></div>
        </div>

        <div class="testi-item__plug">
          <span>Алина</span>
          8 лет
        </div>
      </div>

      <div class="testi__item testi-item">
        <div class="testi-item__preview">
          <img src="./img/students/03.webp" alt="" />

          <div class="testi-item__play" data-video-src=""></div>
        </div>

        <div class="testi-item__plug">
          <span>Марина</span>
          16 лет
        </div>
      </div>
    </div>
  </div>
</section>
