<section class="useful">
  <div class="container">
    <h2 class="title2 useful__title">Наши занятия будут полезны</h2>

    <div class="useful__items">
      <div class="useful__item u-item">
        <div class="u-item__img">
          <img src="./img/useful/01.webp" alt="" />
        </div>
        <div class="u-item__content">
          <p>Детям, которые только начинают изучать английский язык</p>
        </div>
      </div>
      <div class="useful__item u-item">
        <div class="u-item__img">
          <img src="./img/useful/02.webp" alt="" />
        </div>
        <div class="u-item__content">
          <p>Детям, которые умеют читать и писать на английском языке</p>
        </div>
      </div>
      <div class="useful__item u-item">
        <div class="u-item__img">
          <img src="./img/useful/03.webp" alt="" />
        </div>
        <div class="u-item__content">
          <p>
            Детям, которые в будущем будут сдавать экзамены (ОГЭ и ЕГЭ/
            международные)
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
